<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link media="all" rel="stylesheet" href="{{ path '/dist/css/master.min.css' }}">
</head>
<body id="site">
{{ render '@pageheader-dots' }}
<script defer src="{{ path '/dist/scripts/manifest.bundle.js' }}"></script>
    <script defer src="{{ path '/dist/scripts/vendor.bundle.js' }}"></script>
    <script defer src="{{ path '/dist/scripts/master.bundle.js' }}"></script>
</body>
</html>
