<div class="parallax-wrapper {{ modifier }}" {{#if data-selector-events}} data-pointer-events="{{data-pointer-events}}" {{/if}} {{#if data-selector}} data-selector="{{data-selector}}" {{/if}} {{#if data-origin-y}} data-origin-y="{{data-origin-y}}" {{/if}} {{#if data-origin-x}} data-origin-x="{{data-origin-x}}" {{/if}} {{#if data-scalar-y}} data-scalar-y="{{data-scalar-y}}" {{/if}} {{#if data-scalar-x}} data-scalar-x="{{data-scalar-x}}" {{/if}} {{#if data-limit-y}}  data-limit-y="{{data-limit-y}}" {{/if}} {{#if data-limit-x}} data-limit-x="{{data-limit-x}}" {{/if}} {{#if data-invert-y}}  data-invert-y="{{data-invert-y}}" {{/if}} {{#if data-invert-x}} data-invert-x="{{data-invert-x}}" {{/if}} {{#if data-calibrate-y}} data-calibrate-y="{{data-calibrate-y}}" {{/if}} {{#if data-calibrate-x}} data-calibrate-x="{{data-calibrate-x}}" {{/if}} {{#if data-input-element}} data-input-element="{{data-input-element}}" {{/if}} {{#if data-hover-only}} data-hover-only="{{data-hover-only}}" {{/if}} {{#if data-clip-relative-input}} data-clip-relative-input="{{data-clip-relative-input}}" {{/if}} {{#if data-friction-x }} data-friction-x="{{ data-friction-x }}" {{/if}} {{#if data-friction-y}} data-friction-y="{{ data-friction-y }}" {{/if}} {{#if data-relative-input}} data-relative-input="{{ data-relative-input }}" {{/if}} >
      <div {{#if data-depth}} data-depth="{{ data-depth }}" {{else}} data-depth="0.2" {{/if}}>
         {{#block "parallax-wrapper-content" }}
            {{render "@icon-box"}}
         {{/block}}
      </div>
</div>
