<div class="social-link {{ modifier }} {{ class }}">
    <a href="{{ url }}" title="{{ title }}" target="{{ target }}">
        <svg class="social-link__icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ path '/dist/icons/icons.svg' }}#{{ icon }}"></use>
        </svg>
    </a>
</div>
