{{ render '@header' }}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {{ render '@breadcrumb' }}
            {{ render '@heading-page' }}
            {{ render '@text-box'  }}
        </div>
        <div class="col-xs-12 col-sm-12" style="margin:20px 0;">
            {{ render '@image-text-section'}}
        </div>
        <div class="col-xs-12 col-sm-12">
            {{ render '@text-image-section'}} 
        </div>
    </div>
</div>

{{ render '@footer' }}
{{ render '@scroll-progress-bar' }}