<div class="social-link {{ class }}">
    <a href="{{ link-social.url }}" title="{{ link-social.title }}" target="{{ link-social.target }}">
        <svg class="social-link__icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../icons/icons.svg#{{ link-social.icon }}"></use>
        </svg>
    </a>
</div>
