<input type="checkbox" class="checkbox" name="{{ name }}" id="{{ id }}">
<label for="{{ id }}">{{ label }}</label>

<h3 class="title">{{greeting}}</h3>
<div class="{{ class }}">{{ introduction }}</div>
<label for="{{ id }}">{{ label }}</label>