<div class="js-search-filter search-filter">

  <input class="js-search-filter-input input search-filter__input" autocomplete="off" placeholder="Search components" name="q" />
  {{> @svg-icon class="search-filter__icon" svgIconName="icon-search"}}

  <ul class="js-search-filter-list search-filter__list">
    {{#componentList}}
      <li class="search-filter__list-item" data-search="{{ this.title }} {{ this.tags }}">
        <a class="search-filter__list-item-link" title="{{ this.title }}" href="{{path '/components/detail/{{ this.handle }}' }}">{{ this.title }}</a>
      </li>
    {{/componentList}}
  </ul>
</div>