<div class="pageheader-video" data-background-image={{ path '{{backgroundImagePath}}' }}>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                {{ render '@pageheader-content' content }}
            </div>
        </div>
    </div>
    {{#if selfHostVideoMp4Path}}
        <video class="pageheader-video__video" src="{{ selfHostVideoMp4Path }}" type="video/mp4" autoplay muted loop playsinline>
    {{/if}}
    {{#if selfHostVideoWebmPath}}
        <video class="pageheader-video__video" src="{{ selfHostVideoWebmPath }}" type="video/webm" autoplay muted loop playsinline>
    {{/if}}

    {{#if youtubeId}}
        <div class="video-wrapper" data-youtube-id="{{ youtubeId }}">
            <div class="tv">
                <div id="player" class="screen"></div>
            </div>
        </div>
    {{/if}}

    {{#if vimeoId}}
        <div class="vimeo-wrapper">
            <iframe class="vimeo__iframe" data-vimeoId="{{vimeoId}}" width="100%" height="100%" frameborder="0" allow="autoplay; encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    {{/if}}
</div>

