<div class="{{class}} overlap-item overlap-item--{{z-index}} overlap-item-sm--{{direction}} overlap-item-md--{{direction}} overlap-item-lg--{{direction}} overlap-item-xl--{{direction}}">
    {{#block "overlap-item__content" }}
        {{> @paragraph text="Overlapping content here. You can pass a direction, z-index and additional classes to this molecule. See overlapping-sections page for inspiration"}}
    {{/block}}
</div>

