<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex,nofollow">

        {{!-- Fonts --}}
        <link rel="preload" as="font" href="{{ path '/dist/fonts/lato-bold.woff2' }}" type="font/woff2" crossorigin>

        {{!-- Styles --}}
        <link media="all" rel="stylesheet" href="{{ path '/dist/css/master.min.css' }}">
        
        <title>{{ _target.title }}</title>
    </head>
    <body id="site">
        {{{ yield }}}
        {{ render '@cookie-info' }}
        
        <script defer src="{{ path '/dist/scripts/vendor.min.js' }}"></script>
        <script defer src="{{ path '/dist/scripts/master.min.js' }}"></script>
    </body>
</html>
