{{ render '@header' }}
<section>
    {{ render '@pageheader-slider' }}
</section>

{{ render '@icon-boxes' }}

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ render '@primary-boxes' }}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ render '@about-boxes' }}
            </div>
        </div>
    </div>
</section>

{{ render '@footer' }}