{{ render '@header' }}

<section class="text-image-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{ render '@text-box'}}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{> @image image1 modifier="overlap-item--bottom"}}
            </div>
        </div>
    </div>
</section>

<section class="image-text-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{> @image image2 modifier="overlap-item--top"}}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ render '@text-box' textbox }}    
            </div>
        </div>
    </div>
</section>



{{ render '@footer' }}
{{ render '@cookie-info' }}