<div class="container">
    <div class="list-page">
        {{ render '@list-page-item' }} 
        {{ render '@list-page-item' }} 
        {{ render '@list-page-item' }} 
        {{ render '@list-page-item' }} 
        {{ render '@list-page-item' }} 
    </div>

    <div class="list-page">
        {{ render '@list-page-item--card' }} 
        {{ render '@list-page-item--card' }} 
        {{ render '@list-page-item--card' }} 
        {{ render '@list-page-item--card' }} 
        {{ render '@list-page-item--card' }}
    </div>

    <div class="list-page list-page--link">
        {{ render '@list-page-link' }} 
        {{ render '@list-page-link' }}
        {{ render '@list-page-link' }} 
        {{ render '@list-page-link' }} 
        {{ render '@list-page-link' }} 
    </div>
</div>
