<div style="width: 1140px; margin: 0 auto; max-width: 100%;" >
    <div class="list-page">
        {{ render '@list-item' }} 
        {{ render '@list-item' }} 
        {{ render '@list-item' }} 
        {{ render '@list-item' }} 
        {{ render '@list-item' }} 
    </div>

    <div class="list-page">
        {{ render '@list-item--card' }} 
        {{ render '@list-item--card' }} 
        {{ render '@list-item--card' }} 
        {{ render '@list-item--card' }} 
        {{ render '@list-item--card' }}
    </div>
</div>
