{{ render '@header' }}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {{ render '@about-boxes' }}
        </div>
        <div class="col-xs-12">                    
            {{ render '@primary-boxes' }}
        </div>                    
        <div class="col-xs-12">                    
            {{ render '@feedback-box' }}
        </div>                    
        <div class="col-xs-12">                    
            {{ render '@secondary-boxes' }}
        </div>
    </div>
</div>

{{ render '@footer' }}