<footer role="contentinfo" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="row">
                    {{ render '@heading--footer' }}
                
                    {{> @paragraph contactInfo }}
                    {{ render '@social-media-collection' }}
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                {{ render '@heading--footer' }}
                {{ render '@link-list'}}
            </div>

            <div class="col-xs-12 col-sm-4">
                {{ render '@heading--footer' customColumnHeader }}
                {{ render '@form-field' }}
                {{ render '@form-field--email' }}
                {{ render '@form-field--textarea'  }}
                {{ render '@button--gradient' }}
            </div>
        </div>
    </div>
</footer>