<footer role="contentinfo" class="footer">
    {{#embed '@grid-container--site-width'}}
        {{#content 'grid-container-content'}}
            {{#embed "@grid-row--three-columns"}}
                {{#content "content"}}
                    {{#embed "@grid-column"}}
                        {{#content "grid-column-content"}}
                            {{ render '@heading--footer'}}
                            {{#embed '@rich-text-editor' }}
                                {{#content "rte-content"}}
                                    <p>Novicell Aarhus</p>
                                    Søren Nymarks Vej 6<br>
                                    8270 Højbjerg,<br>
                                    Denmark<br>
                                {{/content}}
                            {{/embed}}
                            {{ render '@social-media-collection' }}
                        {{/content}}
                    {{/embed}}
                    {{#embed "@grid-column"}}
                        {{#content "grid-column-content"}}
                            {{ render '@heading--footer'}}
                            {{ render '@link-list'}}
                        {{/content}}
                    {{/embed}}
                    {{#embed "@grid-column"}}
                        {{#content "grid-column-content"}}
                            {{ render '@heading--footer' customColumnHeader}}
                            {{ render '@form-field' }}
                            {{ render '@form-field--email' }}
                            {{ render '@form-field--textarea'  }}
                            {{ render '@form-field--button' }}
                        {{/content}}
                    {{/embed}}
                {{/content}}
            {{/embed}}
        {{/content}}
    {{/embed}}
</footer>
